= if side == 'front' then partial(:cardFront, :locals => {:statusClass=>statusClass,:lastUpdated=>lastUpdated,:svcName=>svcName}) end
.box
  = partial(:toolbar, :locals => {:selectorId => selectorId, :clickFn => clickFn, :checkingName => checkingName, :statusURL => statusURL})
